<div ng-controller="SearchController">
<section class="content-header">
	<h4>Search Project</h4>
	
</section>
<div class="form-inline">
  <div class="form-group">
    <label for="email">Search Project:</label>
    <input type="textfield" class="form-control" id="email" ng-model="search.project">
  </div>
  <div class="form-group">
    <label for="pwd">Value:</label>
    <input type="textfield" class="form-control" id="pwd" ng-model="search.value">
  </div>
  
  <button type="submit" class="btn btn-default" ng-click="search(search.project,search.value)">Submit</button>
</div>
</div>