<!-- <!doctype html>
<html ng-app="PageApp">
<head>
<title>Dynamic Pagination</title>
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="cssstuff/app.css" />
<script type="text/javascript" src="angularjs_lib_files/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="angularjs_lib_files/angular.js"></script>
<script type="text/javascript" src="lib/angular-1.4.3/ui-bootstrap-tpls-0.13.3.js"></script>
<script type="text/javascript" src="angular_js_files/dirPagination.js"></script>

<script type="text/javascript"
	src="lib/angular-1.4.3/angular-ui-router.js"></script>
<script type="text/javascript" src="angular_js_files/paginationapp.js"></script>
</head>
<body ng-controller="PageController">
 -->
	<h3>Madhu Arjun</h3>

	<div class="form-group">

		<button type="submit" class="btn btn-primary"
			ng-click="getPagination()">Submit</button>

	</div>
	<div id="pagecontent" class="col-sm-10">
	
	
	
	</div>

<!-- </body>
</html> -->